<!DOCTYPE html>
<html>
    <head>
        <title>Website</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css" type="text/css" />
        <link rel="stylesheet" href="/stylesheets/app.css" type="text/css" />
    </head>
    <body>
        <div class="ui fixed menu">
            <div class="header item"><i class="leaf icon"></i>A</div>
            <a href="/" class="item">Home</a>
            <a href="/posts/new" class="item">New post</a>

            <div class="right item">
                <% if(!currentUser) { %>
                    <a href="/login" id="login-button">
                        <button class="ui animated primary button" tabindex="0">
                            <div class="visible content">Login</div>
                            <div class="hidden content">
                                <i class="sign in icon"></i>
                            </div>
                        </button>
                    </a>
                    <a href="/register" id="register-button">
                        <button class="ui animated positive button" tabindex="0">
                            <div class="visible content">Sign Up</div>
                            <div class="hidden content">
                                <i class="add user icon"></i>
                            </div>
                        </button>
                    </a>
                <% } else {%>
                    <p>Logged in as <%= currentUser.username %></p>
                    <a href="/logout">
                        <button id="login-button" class="ui animated secondary button" tabindex="0">
                            <div class="visible content">Log Out</div>
                            <div class="hidden content">
                                <i class="sign out icon"></i>
                            </div>
                        </button>
                    </a>
                <% } %>
            </div>
        </div>