<% include ./partials/header %>
<h1></h1>
<div class="ui main text container segment">
    <div class="ui huge header">New post</div>
    <form class="ui form" action="/posts" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="post[title]" placeholder="Title">
        </div>
        <div class="field">
            <label>Image ( optional )</label>
            <input type="text" name="post[image]" placeholder="Image URL">
        </div>
        <div class="field">
            <label>Body</label>
            <textarea name="post[body]"></textarea>
        </div>
        <div class="ui buttons">
            <input class="ui primary button" type="submit">
            <div class="or"></div>
            <button type="button" class="ui button"><a href="/posts">Cancel</a></button>
        </div>
    </form>
</div>

<% include ./partials/footer %>