<% include ./partials/header %>

<h1></h1>
<h1></h1>
<form action="/register" method="POST" class="ui form">
    <input class="ui input" type="text" name="username" placeholder="username">
    <input class="ui input" type="password" name="password" placeholder="password">
    <button class="ui animated positive circular button" tabindex="0">
        <div class="visible content">Sign Up</div>
        <div class="hidden content">
            <i class="add user icon"></i>
        </div>
    </button>
</form>


<% include ./partials/footer %>